<script src="https://unpkg.com/vue"></script>

<body>
    <div id="Jenkins_interface">
        <h1>{{ header }}</h1>

        <button v-on:click="requestWebhook">test button</button>
    </div>

    <script>
        new Vue({
            el: "#Jenkins_interface",
            data: {
                header: "Cookbooks list",

            },
            methods: {
                requestWebhook: function (event) {
                        var xhr = new XMLHttpRequest();
                        xhr.open("POST",
                            'http://localhost:8081/webhook-step/df0a112b-e4f1-4510-a5ad-1efa1fb3a911',
                            true);
                        xhr.setRequestHeader('Content-Type', 'application/json');
                        xhr.send(JSON.stringify({
                            "test": "value"
                        }));
                        console.log("sended data");
                    }
            }
        });
        // Vue.use(VueResource);
    </script>
</body>